.modalContainer {
    padding: 10px;
    margin-bottom: 200px;
}

.modalContainer h3 {
    font-size: 22px;
}

.fa-icon {
    margin-left: 10px;
    color: #000000;
}

.fa-icon:hover {
    color: #00ff99;
}

a {
    user-select: none;
    text-decoration: none;
    border: 0;
    color: white;
}

a:focus {
    outline: none;
}

.iconContainer {
    position: absolute;
    bottom: 15px;
    right: 15px;
}