h5 {
    text-align: center;
}

.card {
    border: 5px solid #393e46;
    width: 18rem;
    height: 350px;
    padding: 5px;
    margin: 25px;
    background: #393e46;
    border-radius: 10px;
}

.card-title {
    color: #eeeeee;
}

.card:hover {
    opacity: 0.4;
    color: #00adb5;
}

a:hover {
    text-decoration: none;
}

.card-div {
    margin-top: 50px;
}

.card:hover .card-title {
    color: #00adb5;
}

.card-title {
    font-size: 1.4rem;
}

.portfolio-title {
    color: #00adb5;
    text-align: center;
    padding: 10px 0;
    background-color: white;
    width: 25%;
    height: 50px;
    margin: 0 auto 0 auto;
    background: #393e46;
    border-radius: 25px;
}

.resume-link {
    color: #00adb5;
    text-align: center;
    padding: 10px 0;
    background-color: white;
    width: 25%;
    height: 50px;
    margin: 100px auto 0 auto;
    background: #393e46;
    border-radius: 25px;
}

.resume-link:hover {
    opacity: 0.4;
}