h5 {
  text-align: center;
}

.card {
  border: 5px solid #393e46;
  width: 18rem;
  height: 332px;
  padding: 5px;
  margin: 25px;
  background: #393e46;
  border-radius: 10px;
  -webkit-transition: border 1s; /* For Safari 3.0 to 6.0 */
  transition: border 1s; /* For modern browsers */
}

.card:hover {
  border: 5px solid #00abd5;
  color: #00adb5;
}

.card-title {
  color: #eeeeee;
}

a:hover {
  text-decoration: none;
}

.card-div {
  margin-top: 50px;
}

.card .card-title {
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; /* For modern browsers */
}

.card:hover .card-title {
  color: #00adb5;
}

.card-image {
  width: 100%;
  height: 250px;
}

.card-title {
  font-size: 1.4rem;
}

.modalButton {
  margin: 0 auto 0 auto;
  border: none;
  background-color: #222831;
  padding: 0;
  outline: none;
}

.modalButton:focus {
  outline: none;
}

.modal-header {
  border: none;
  color: white;
}

.modal-footer {
  border: none;
}

.modal-content {
  background-color: #222831;
  color: #00adb5;
}

button span {
  color: #00adb5;
  font-family: 'Mukta', sans-serif;
}

button span:focus {
  outline: none;
}

.portfolio-title {
  color: #00adb5;
  text-align: center;
  padding: 10px 0;
  background-color: white;
  width: 25%;
  height: 50px;
  margin: 0 auto 0 auto;
  background: #393e46;
  border-radius: 25px;
}

.resume-text {
  color: white;
  text-align: center;
  padding: 10px 0;
  background-color: white;
  width: 25%;
  height: 60px;
  margin: 100px auto 0 auto;
  background: #393e46;
  border: 5px solid #393e46;
  border-radius: 25px;
  -webkit-transition: color 1s, border 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s, border 1s; /* For modern browsers */
}

.resume-text:hover {
  border: 5px solid #00abd5;
  color: #00adb5;
}

.technologies-text {
  color: white;
}
