.portfolio-img {
    width: 500px;
    height: 500px;
}

.card-div {
    margin-left: 20px;
    margin-bottom: 20px;
    border: 3px black solid;
    opacity: 50%;
}

.card-div:hover {
    opacity: 100%;
}