* {
    font-family: 'Bitter', sans-serif !important;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    color: #000000;
}

h3 {
    font-size: 20px;
}

.fa-icon-notch {
    color: #000000;
}

.fa-rotate {
    display: inline-block;
    transform: rotate(180deg);
}

.myPhoto {
    border-radius: 250px;
    height: 75px;
    width: 75px;
}

.myName {
    margin-left: 10px;
    color: #000000;
}

.introBox h3 {
    color: #000000;
}

.titleBox {
    display: flex;
    align-items: center;
}

.socialBox {
    display: flex;
    margin: 3px 0 25px 8px;
}

.fa-icon {
    margin: 5px;
    color: #000000;
}

.pageBox {
    padding: 50px;
}

.imageBox {
    margin-right: 10px;
}

.headerText {
    display: flex;
    flex-direction: column;
}

.aboutBox {
    position: relative;
    width: 50%;
    height: 70vh;
    margin: auto;
    margin-top: 15%;
}

.bioBox {
    position: relative;
    width: 50%;
    height: 70vh;
    margin: auto;
    margin-top: 25%;
}

.bioSection {
    height: 100vh;
}

.fa-arrow-down {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.fa-arrow-down-2 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.introBox {
    display: flex;
    flex-direction: column;
    color: #000000;
    margin-left: 0px;
    margin-right: 0px;
}

.projectSection h3 {
    color: #000000;
}

.projectSection {
    text-align: center;
    margin-top: 25%;
    height: 100vh;
}

.projectContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.projBox {
    width: 300px;
    height: 300px;
    text-align: center;
    border: 5px solid #000000;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.projBuffer {
    width: 10px;
}

.containerBuffer {
    height: 10px;
}

.projBox img {
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
}

.projBox:hover {
    border-color: #5C8374;
}

.fa-icon:hover {
    color: #5C8374;
}


@media screen and (max-width: 640px) {
  .projectContainer {
    flex-direction: column;
  }

  .projBox {
    width: 100%;
    margin-bottom: 5px;
  }

  .projBuffer {
    display: none;
  }

  .introBox {
    width: 100%;
  }

  .aboutText {
    width: 100% !important;
  }

  .aboutBox {
    width: 100%;
  }
}