<div class="pageBox">
  <div class="titleBox">
    <div class="imageBox">
      <img src="assets/me.jpeg" class="myPhoto" />
    </div>
    <div class="headerText">
      <h1 class="myName">Ethan R. McDowell</h1>
      <div class="socialBox">
        <a href="https://www.instagram.com/ethanzrm/" target="_blank">
          <fa-icon
            [icon]="faInstagram"
            size="2x"
            class="fa-icon"
            target="_blank"
          ></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/ethan-r-mcdowell/">
          <fa-icon
            [icon]="faLinkedin"
            size="2x"
            class="fa-icon"
            target="_blank"
          ></fa-icon>
        </a>
        <a href="https://github.com/ethanrmcdowell">
          <fa-icon
            [icon]="faGithub"
            size="2x"
            class="fa-icon"
            target="_blank"
          ></fa-icon>
        </a>
        <a href="mailto:ethan.r.mcdowell@gmail.com">
          <fa-icon
            [icon]="faEnvelope"
            size="2x"
            class="fa-icon"
            target="_blank"
            KEK
          ></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="aboutBox">
    <div class="pageDivider">
      <fa-icon [icon]="faCircleNotch" size="2x" class="fa-icon-notch"></fa-icon>
    </div>
    <div class="introBox">
      <p>
        Hello! I'm a full-stack web developer located in Detroit, Michigan I
        have hands-on experience developing and implementing solutions for CRMs
        and financial applications. I have a strong background utilizing
        JavaScript, Angular, React, MySQL, Node.js, and Git, along with other
        related technologies.
      </p>
    </div>
    <div class="pageDivider">
      <fa-icon
        [icon]="faCircleNotch"
        size="2x"
        class="fa-icon-notch fa-rotate"
      ></fa-icon>
    </div>
    <div class="activeProj">
      <a
        href="https://ethanrmcdowell.github.io/covid-watcher-2.0/"
        target="_blank"
        ><h3>Active Project: COVID Water 2.0</h3></a
      >
    </div>
    <div class="activeProj">
      <p>
        Updated version of COVID case tracker originally created during the
        height of the pandemic. Displays global and US case numbers with further
        data views to be added. Powered by the disease.sh API.
      </p>
    </div>
  </div>
</div>
