a {
    text-decoration: none;
    color: #C2DEDC;
}

p {
    color: #9BE8D8;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h3 {
    font-size: 20px;
}

.fa-icon-notch {
    color: #468B97;
}

.fa-rotate {
    display: inline-block;
    transform: rotate(180deg);
}

.myPhoto {
    border-radius: 250px;
    height: 75px;
    width: 75px;
}

.myName {
    margin-left: 10px;
    color: #F9F3CC;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.introBox h3 {
    color: #9BE8D8;
}

.titleBox {
    display: flex;
    align-items: center;
}

.socialBox {
    display: flex;
    margin: 3px 0 25px 8px;
}

.fa-icon {
    margin: 5px;
    color: #C2DEDC;
}

.pageBox {
    padding: 50px;
}

.imageBox {
    margin-right: 10px;
}

.headerText {
    display: flex;
    flex-direction: column;
}

.aboutBox {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.introBox {
    display: flex;
    justify-content: center;
    color: #9BE8D8;
    margin-left: 0px;
    margin-right: 0px;
}

.projectSection h3 {
    color: #F9F3CC;
}

.projectSection {
    text-align: center;
    margin-top: 25px;
}

.projectContainer {
    display: flex;
    justify-content: center;
}

.projBox {
    width: 33%;
    text-align: center;
    border: 5px solid #9BE8D8;
    border-radius: 25px;
}

.projBuffer {
    width: 10px;
}

.containerBuffer {
    height: 10px;
}

.projBox img {
    width: 100%;
    overflow: hidden;
}

.projBox:hover {
    opacity: 0.5;
}

.projBox img {
    border-radius: 25px;
}

@media screen and (max-width: 640px) {
  .projectContainer {
    flex-direction: column;
  }

  .projBox {
    width: 100%;
    margin-bottom: 5px;
  }

  .projBuffer {
    display: none;
  }

  .introBox {
    width: 100%;
  }

  .aboutText {
    width: 100% !important;
  }

  .aboutBox {
    width: 100%;
  }
}