<div class="pageBox">
  <div class="titleBox">
    <div class="imageBox">
      <img src="assets/me.jpeg" class="myPhoto" />
    </div>
    <div class="headerText">
      <h1 class="myName">Ethan R. McDowell</h1>
      <div class="socialBox">
        <a href="https://www.instagram.com/ethanzrm/" target="_blank">
          <fa-icon
            [icon]="faInstagram"
            size="2x"
            class="fa-icon"
            target="_blank"
          ></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/ethan-r-mcdowell/">
          <fa-icon
            [icon]="faLinkedin"
            size="2x"
            class="fa-icon"
            target="_blank"
          ></fa-icon>
        </a>
        <a href="https://github.com/ethanrmcdowell">
          <fa-icon
            [icon]="faGithub"
            size="2x"
            class="fa-icon"
            target="_blank"
          ></fa-icon>
        </a>
        <a href="mailto:ethan.r.mcdowell@gmail.com">
          <fa-icon
            [icon]="faEnvelope"
            size="2x"
            class="fa-icon"
            target="_blank"
          ></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="aboutBox">
    <div class="introBox">
      <h3>
        Hello! I'm a full-stack web developer located in Detroit, Michigan. I
        have hands-on experience developing and implementing solutions for CRMs
        and financial applications as well as a strong background utilizing
        JavaScript, Angular, React, MySQL, Node.js, and Git, and other related
        technologies.
      </h3>
    </div>
  </div>
  <hr />
  <div class="projectSection">
    <h3>Projects</h3>
    <div class="projectContainer">
      <div (click)="openModal('travel')" class="projBox">
        <h3>Travel Health</h3>
        <p>
          Web application that shows travel health and safety information for
          each country.
        </p>
        <img src="../assets/travel.png" />
      </div>
      <div class="projBuffer"></div>
      <div (click)="openModal('question')" class="projBox">
        <h3>Ask me!</h3>
        <p>Ask me an anonymous question!</p>
        <img src="../assets/question.png" />
      </div>
    </div>
    <div class="containerBuffer"></div>
    <div class="projectContainer">
      <div (click)="openModal('prattle')" class="projBox">
        <h3>Prattle</h3>
        <p>
          Work in progress! Social media application using Google's Firebase.
        </p>
        <img src="../assets/prattle.png" />
      </div>
      <div class="projBuffer"></div>
      <div (click)="openModal('news')" class="projBox">
        <h3>News Watch</h3>
        <p>News aggregator utilizing NewsData.io API.</p>
        <img src="../assets/news.png" />
      </div>
    </div>
  </div>
</div>

<!-- <div class="projectDiv" (click)="openModal('travel')">
  <h3>Travel Health</h3>
  <img src="../assets/travel.png" />
</div>
<div class="projectDiv" (click)="openModal('news')">
  <h3>News Watcher</h3>
  <img src="../assets/news.png" />
</div>
<div class="projectDiv" (click)="openModal('prattle')">
  <h3>Prattle</h3>
  <img src="../assets/prattle.png" />
</div> -->
