.contact {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 10px;
}

.fa-3x {
  margin: 10px 5px 0 5px;
  color: #eeeeee;
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; /* For modern browsers */
}

.fa-3x:hover {
  color: #00adb5;
}
