@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
    font-family: 'Mukta', sans-serif;
    background: #5b5b5b;
    color: #1e212d;
}

p a {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #cbbcb1;
}